// ----------------------------------------------------------------------

// Colors

// ----------------------------------------------------------------------
////
/// @author Alex Rivera
/// @group theme
////

/// Brand colors for OgdenBenefits.com

/// default white
$white: #ffffff;
/// alternative gray
$gray: #f5f5f5;
/// dark gray
$gray-2: #666666;
/// soft black
$black: #3b3b3b;
/// primary blue
$blue: #1b4168;
/// muted blue
$blue-gray: #b2c6da;
/// secondary blue
$blue-bright: #2f73b9;
