// ----------------------------------------------------------------------

// Colors

// ----------------------------------------------------------------------
////
/// @author Alex Rivera
/// @group theme
////

/// Brand colors for OgdenBenefits.com

/// default white
$white: #ffffff;
/// alternative gray
$gray: #f5f5f5;
/// dark gray
$gray-2: #494949;
/// soft black
$black: #2b2b2b;
/// primary blue
$blue: #1b4168;
/// muted blue
$blue-gray: #cdddec;
/// secondary blue
$blue-bright: #155799;
