// ----------------------------------------------------------------------

// Grids

// ----------------------------------------------------------------------

////
/// @author Sean Kelly
/// @group grids
////

/// 1 fraction
$fr: 1fr;
/// 2 fraction
$fr-2: 2fr;
/// auto
$a: auto;
/// center
$c: center;
