// ----------------------------------------------------------------------

// Typography

// ----------------------------------------------------------------------
////
/// @author Sean Kelly
/// @group typography
////

/// Based on TailwindCSS rem sizing

$pico: 0.05rem;
$nano: 0.5rem;
/// @deprecated
$micro: 0.6rem;
/// 12px
$xs: 0.75rem;
/// 14px
$sm: 0.875rem;
/// 16px
$base: 1rem;
/// 18px
$lg: 1.125rem;
/// 20px
$xl: 1.25rem;
/// 24px
$xl-2: 1.5rem;
/// 30px
$xl-3: 1.875rem;
/// 36px
$xl-4: 2.25rem;
/// 48px
$xl-5: 3rem;
/// 88px - used to create default nav height
$xl-nav: 5.5rem;

/// sans serif font -- Google Font API
/// used for body text
$sans: "Mukta", sans-serif;
/// serif font -- Google Font API
/// used for header text and CTAs
$serif: "Noto Serif JP", sans-serif;
