<form id="form" class="p-b grid--child-{{ grid }}">
    <h3 class="form-heading">Get Quote Today!</h3>
    <hr/>
    <br/>
    <div class="form form--quote">
        <fieldset class="contact">
            <legend style="margin-left: 15px">Contact Information</legend>
            <div class="grid grid--2">
                <label class="grid--child-1 grid--child-row-1" for="fname">First Name</label>
                <input class="grid--child-2 grid--child-row-1" type="text" id="fname" required="required" name="fname" placeholder="First Name">
                <label class="grid--child-1 grid--child-row-2" for="lname">Last Name</label>
                <input class="grid--child-2 grid--child-row-2" type="text" id="lname" required="required" name="lname" placeholder="Last Name">
                <label class="grid--child-1 grid--child-row-3" for="email">Email Address</label>
                <input class="grid--child-2 grid--child-row-3" type="text" id="email" required="required" name="email" placeholder="example@mail.com">
                <label class="grid--child-1 grid--child-row-4" for="company">Company (Optional)</label>
                <input class="grid--child-2 grid--child-row-4" type="text" id="company" name="company" placeholder="Company">
            </div>
        </fieldset>
        <fieldset class="health">
            <legend style="margin-left: 15px">Health Information</legend>
            <div class="grid grid--2">
                <label class="grid--child-1 grid--child-row-1" for="age">Your Age</label>
                <input class="grid--child-2 grid--child-row-1" type="text" id="age" required="required" name="age" placeholder="64">
                <label class="grid--child-1 grid--child-row-2" for="smoker">Smoker</label>
                <input class="grid--child-2 grid--child-row-2" type="checkbox" id="smoker" name="smoker"/>
                <label class="grid--child-1 grid--child-row-3" for="zip">Zip Code</label>
                <input class="grid--child-2 grid--child-row-3" type="text" id="zip" required="required" name="zip" placeholder="07702">
            </div>
        </fieldset>
        <div class="footer">
            <fieldset class="terms">
                <legend>Terms</legend>
                <label for="agree">
                    <input type="checkbox" id="agree" required="required" name="agree"/>
                    Please agree that we may use your personal data to contact you to discuss a quote, as explained in our
                    <a class="primary--link" href="/privacy-policy">Privacy Policy</a>.</label>
                <input type="hidden" name="token" value="{{ csrf }}">
            </fieldset>
            <div class="submit grid--center">
                <input type="submit" value="Get a Quote">
            </div>
        </div>
    </div>
</form>