figure {
  figcaption {
    color: $white;
    background: mix($blue, transparent, 30%);
    width: 100%;
    font-size: $xl-4;
  }
}

.insurance-icons {
  h5 {
    font-size: $base;
    max-width: 80%;
    margin: auto;

    @media only screen and (max-width: 440px) {
      font-size: $xs;
    }
  }

  img {
    width: 75px;
    height: 75px;
    background: $blue-bright;
    padding: $xl;
    display: block;
    margin: $nano auto;
  }
}

.primary {
  .insurance-icons {
    img {
      background: $blue;
    }
  }
}

.alternative {
  * > .insurance-icons {
    img {
      background: $gray-2;
    }
  }
}

.insurance--quote {
  img {
    max-height: 438px;
    object-fit: cover;
  }
}
