@import "../utils/vars";

footer {
  text-align: center;
  min-height: $xl-4;
  padding: $lg $xs;

  ul.list-links {
    margin-top: $sm;

    li > a {
      color: $white;
    }
  }
}
