@import "../utils/vars";

.hero {
  color: $white;
  background: $blue;
  position: relative;

  &--title {
    position: absolute;
    top: 10vh;
    right: 10vh;
    text-shadow: 0 0.3rem 0.3rem $black;
    text-transform: uppercase;

    @media only screen and (max-width: 440px) {
      top: 1vh;
      right: 1vh;
      font-size: $xl-3;
    }
  }

  &--title-sub {
    font-size: $xl-2;
    display: block;
    text-transform: none;

    @media only screen and (max-width: 440px) {
      font-size: $base;
    }
  }

  &--title-primary {
    position: absolute;
    top: 15%;
    left: 35%;
    color: $blue-bright;
    border-bottom: $pico solid $blue-bright;

    @media only screen and (max-width: 440px) {
      top: 5%;
      left: 10%;
      font-size: $xl-3;
    }

    @media only screen and (max-width: 720px) {
      top: 5%;
      left: 25%;
      font-size: $xl-4;
    }
  }

  &--title-alternative {
    position: absolute;
    top: 15%;
    left: 38%;
    color: $white;
    text-shadow: $pico $pico $gray-2;
    border-bottom: $pico solid $white;

    @media only screen and (max-width: 440px) {
      top: 5%;
      left: 10%;
      font-size: $xl-3;
    }

    @media only screen and (max-width: 720px) {
      top: 5%;
      left: 25%;
      font-size: $xl-4;
    }
  }

  img {
    max-height: 65vh;
    object-fit: cover;
    object-position: bottom;
  }

  .btn {
    position: absolute;
    z-index: 10;
    color: $blue;
    top: 40%;
    right: 29%;
    background: $white;
    width: 6rem;

    @media only screen and (max-width: 1366px) {
      top: 35%;
      left: 54%;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
      top: 50%;
      left: 42%;
    }

    @media only screen and (min-width: 768px) and (max-width: 960px) {
      top: 55%;
      left: 20%;
    }

    @media only screen and (max-width: 720px) {
      top: 70%;
      left: 75%;
    }

    @media only screen and (max-width: 440px) {
      top: 60%;
      left: 55%;
    }
  }
}
