ul.list-links {
  display: inherit;
  color: currentColor;
  list-style: none;

  li.list-item {
    display: inline;

    &:not(:last-child) > a::after {
      content: "|";
      padding: $xs;
      color: currentColor;
      transition: none;
    }

    > a {
      transition: all 0.5s ease;

      &:hover {
        font-size: $lg;
      }
    }
  }

  @media only screen and (max-width: 440px) {
    display: none;
  }
}

.ul-none {
  ul {
    list-style: none;
  }

  h4 {
    padding-bottom: $pico;
  }

  li {
    padding-top: $pico;
  }

  &--child {
    margin-bottom: $base;
    padding: $nano;
    display: flex;
    flex-direction: column;
    border: 1px solid mix($blue, transparent, 30%);
    border-bottom: none;
  }
}
