@import "../utils/vars.scss";

.nav {
  font-family: $serif;

  svg {
    position: relative;
    width: 50px;
    top: 20px;
  }

  a {
    &::hover {
      color: mix($blue, white, 50%);
    }

    &:not(.gray) {
      color: $blue;
    }
  }

  &--primary {
    padding: $xs $xs;
    background: $gray;
    height: $xl-nav;
    box-sizing: border-box;

    .logo {
      font-weight: 900;

      a:not(svg) {
        position: relative;
        top: -20px;
        font-size: $xl-3;
        transition: all 0.5s ease;

        @media only screen and (max-width: 440px) {
          font-size: $lg;
        }
      }
    }

    .contact {
      display: inline-flex;
      font-family: $sans;
      flex-direction: row;

      a.gray {
        &:first-child {
          border-right: 1px solid mix($gray-2, white, 20%);
        }

        padding: $xs;
        color: $gray-2;

        span {
          display: block;
          color: $blue;
          font-size: $xl-2;

          @media only screen and (max-width: 440px) {
            font-size: $base;
          }
        }

        @media only screen and (max-width: 440px) {
          &:first-child {
            border: none;
          }

          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  &--secondary {
    height: $xl-5;
  }
}
