<footer>
    <h3>The Best Insurance Coverage is Waiting!</h3>
    <h4>Pick the Perfect Plan for You!</h4>
    <a class="btn btn-white btn-shadow" href="/contact">Contact Us!</a>
    <section>
        <ul class="list-links">
            <li class="list-item">
                <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li class="list-item">
                <a href="/privacy-policy/terms">Terms & Conditions</a>
            </li>
            <li class="list-item">
                <a href="/about">About Us</a>
            </li>
            <li class="list-item">
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
        <p>
            <small>Ogden & Co. Copyright &copy;
                {{ "now"|date('Y') }}. All rights reserved.</small>
        </p>
    </section>
</footer>