<nav class="nav">
    <div class="nav--primary flex flex--space-between flex--vert-center">
        <div class="logo">
            <a href="/" title="Insurance Company in NJ">Ogden & Co.</a>
        </div>
        <div class="contact">
            <a class="gray" href="tel:5555555555">
                <i></i>Call Us<span>555-555-5555</span>
            </a>
            <a class="gray" href="/contact">
                <i></i>Hours of Operation<span>Mon - Fri 6am - 7pm</span>
            </a>
        </div>
    </div>
    <div class="nav--secondary flex flex--hort-center flex--vert-center">
        <ul class="nav--list-links">
            <li class="nav--list-item">
                <a href="/">Home</a>
            </li>
            <li class="nav--list-item">
                <a href="/about">About</a>
            </li>
            <li class="nav--list-item">
                <a href="/insurance/individual">Individual Services</a>
            </li>
            <li class="nav--list-item">
                <a href="/insurance/group">Group Services</a>
            </li>
            <li class="nav--list-item">
                <a href="/insurance/travel">Travel Insurance</a>
            </li>
            <li class="nav--list-item">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>