@import "vars";
@import "mixins/headings";

@include headings() {
  font-family: $serif;
  letter-spacing: $pico;
}

@include headings(1) {
  font-size: $xl-5;
}

/** h2 font-size **/
@include headings(2) {
  font-size: $xl-3;
}

/** h3 font-size **/
@include headings(3) {
  font-size: $xl-3;
}

/** h4 font-size **/
@include headings(4) {
  font-size: $xl;
}

/** h5 - h6 font-size **/
@include headings(5, 6) {
  font-size: $lg;
}
