@import "mixins";

/** reset browser headings margin and padding  **/
@include headings() {
  margin: 0;
  padding: 0;
}

/** remove underline from anchor tags **/
a {
  text-decoration: none;
}

/** remove margin and padding **/
ul,
p {
  margin: 0;
  padding: 0;
}

/** make image naturally responsive **/
img {
  width: 100%;
}

/** reset html5 fieldset **/
fieldset {
  display: block;
  border: none;
}

label {
  display: block;
}

figure {
  margin: 0;
  position: relative;

  figcaption {
    position: absolute;
  }
}
