@import "vars";

p {
  font-size: $lg;
  line-height: $xl-3;
  margin: $xs 0;
  text-align: justify;
}

.p-b {
  padding: $xl-3 $base;
}

.p-t {
  padding: $base 0;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: $xl-2;
  line-height: $xl-4;
}

.primary {
  color: $white;
  background: $blue-bright;
}

.secondary {
  color: $blue;
}

.contain-50 {
  width: 50%;
  margin: auto;

  hr {
    width: 50%;
  }
}
