@import "vars";

p {
  font-size: $lg;
  line-height: $xl-3;
  margin: $xs 0;
  text-align: justify;
}

.p-b {
  padding: $xl-3 $base;
}

.lead {
  font-size: $xl-2;
  line-height: $xl-4;
}

.primary {
  color: $white;
  background: $blue-bright;
}
