@import "vars";

p {
  font-size: $lg;
  line-height: $xl-3;
  margin: $xs 0;
  text-align: justify;
}

.p-b {
  padding: $xl-3 $base;
}

.p-t {
  padding: $base 0;
}

.text-center {
  text-align: center;

  p {
    text-align: center;
  }
}

.lead {
  font-size: $xl-2;
  line-height: $xl-4;
}

.primary {
  color: $white;
  background: $blue-bright;
}

.secondary {
  color: $blue;
}

.alternative {
  color: $blue-bright;
  background: $gray;
}

.contain-50 {
  width: 50%;
  margin: auto;

  hr {
    width: 50%;
  }
}

.border {
  &--primary {
    border-color: $white;
  }

  &--secondary {
    border-color: $blue;
  }

  &--alternative {
    border-color: $blue-bright;
  }

  &--heading {
    width: auto;
    border-bottom: $pico solid currentColor;
  }
}

a.primary--link {
  display: inline-block;
  color: $black;
  background: $white;
  padding: $pico;
  font-size: $lg;
}

.logo {
  svg {
    position: relative;
    width: 50px;
    top: 20px;
  }
}
