/**
------------------
    TYPOGRAPHY
    ----------
**/

// sizes
$pico: 0.05rem;
$nano: 0.5rem;
$xs: 0.75rem; // 12px
$sm: 0.875rem; // 14px
$base: 1rem; // 16px
$lg: 1.125rem; // 18px
$xl: 1.25rem; // 20px
$xl-2: 1.5rem; // 24px
$xl-3: 1.875rem; // 30px
$xl-4: 2.25rem; // 36px
$xl-5: 3rem; // 48px
$xl-nav: 5.5rem;

// fonts
$sans: "Mukta", sans-serif;
$serif: "Noto Serif JP", sans-serif;

/**
------------------
      COLORS
    ----------
**/
$white: #ffffff;
$gray: #f5f5f5;
$gray-2: #666666;
$blue: #1b4168;
$blue-bright: #2f73b9;
