{% extends 'layout/main.twig' %}

{% block content %}

    <section class="p-b">
        <div class="grid grid--2">
            <div class="grid--child-1">
                <h1>About Us</h1>
                <p>With more than 22 years of experience, OGDEN & Co. President Stephen O. deGersdorff gained industry expertise working for large insurance carriers for more than a decade. Realizing that he could provide better choices while offering the opportunity to save people money at the same time, de Gersdorff launched OGDEN & CO. Insurance and Consulting Services in 1996.
                </p>
                <p>
                    As a Registered Health Underwriter (RHU), de Gersdorff has been part of an in depth study regarding the intricacies of health plans. Because of de Gersdorff’s expertise and ability to create working relationships with his clients, many of his clients have worked with him for 15 years, even prior to opening OGDEN & CO. Since opening, he and his team have been providing cost-effective insurance solutions for individuals and businesses throughout the tri-state.
                </p>
                <p>
                    Working as an independent company, free from the restriction of selling only one carrier, we are able to provide the best possible insurance solutions to our clients at the lowest possible prices along with the best client service.
                </p>
            </div>
            <div class="grid--child-2 p-b">
                <img src="{{ base_url() }}/assets/images/ogden-insurance.jpg" alt="Ogden Insurance & Co">
            </div>
        </section>

    {% endblock %}