{% extends 'layout/main.twig' %}

{% block content %}
    <h1>Contact Us</h1>
    <h2>Choose an experienced insurance company nearby</h2>
    <section class="p-b grid grid--2">
        <div class="grid--child-1 contact-img" style="position:relative;top:2rem;">
            <img src="{{ base_url() }}/assets/images/red-bank.jpg">
        </div>
        {% include 'partials/forms/quote.twig' with {
            csrf : token,
            grid: 2
        }
        only %}
    </section>
    <section class="primary">
        {% include 'partials/services.twig' %}
    </section>

{% endblock %}