{% extends 'layout/main.twig' %}

{% block content %}

    <h1>Contact Us</h1>
    <h2>Choose an experience insurance company nearby</h2>
    <section class="p-b grid grid--2">
        <div style="position:relative;top:2rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12169.184615821012!2d-74.0653218!3d40.3135844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7586006781dd6951!2sOgden+%26+Co+Insurance+%26+Consulting!5e0!3m2!1sen!2sus!4v1536379314544" width="640" height="400" style="width:100%;border:0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        {% include 'partials/forms/quote.twig' %}
    </section>
    <section class="primary">
        {% include 'partials/services.twig' %}
    </section>

{% endblock %}