{% extends 'layout/main.twig' %}

{% block content %}
    <div class="insurance--group">
        <section class="hero">
            <h1 class="hero--title-alternative">Group Services</h1>
            <img src="{{ base_url() }}/assets/images/group-insurance-services-nj-alt.jpg" alt="Group Insurance Services">
        </section>
        <section class="alternative">
            <article class="p-b grid grid--2">
                <div class="p-b grid--child-1">
                    <h2 class="border--alternative border--heading">Get Your Decision Makers Back to Work</h2>
                    <br/>
                    <p>Starting your own business is difficult, and when it comes time to provide health coverage for your employees you suddenly need to become an expert in insurance. If that's not your specialty, then that can be overwhelming.
                    </p>
                    <p>We provide a personal touch with local businesses by sharing our knowledge and experience so you can get the best rates for your group.
                    </p>
                </div>
                <div class="p-b grid--child-2">
                    <p>Business insurance can come in many forms. You may need to get insurance for vehicles registered to your business, insurance on your products and assets, and even the building you do business in.
                    </p>
                    <p>Ogden Insurance was started over 20 years ago, and we know the ins and outs of group insurance. If you want to secure the best rates for your business, then please get in touch with our insurance professionals.
                    </p>
                    <p>We can provide the information you need to make the best decision for your business.
                    </p>
                </div>
            </article>
        </section>
        <div class="alternative">{% include 'partials/services.twig' %}</div>
        <section class="secondary p-t insurance--quote">
            <div class="contain-50 p-t text-center">
                <h3 class="border--secondary p-t">Coverage When Your Employees Need it Most</h3>
            </div>
            <div class="grid grid--2 p-b">
                <img class="grid--child-1" src="{{ base_url() }}/assets/images/group-insurance-quote-nj-alt.jpg" alt="Get your Group Insurance Quote">
                {% include 'partials/forms/quote.twig' with {
                    csrf : token,
                    grid: 2
                }
                only %}
            </div>
        </section>
    </div>
{% endblock %}