{% extends 'layout/main.twig' %}

{% block content %}
    <section class="hero secondary">
        <h1 class="hero--title-secondary">Insurance Services</h1>
        <img src="{{ base_url() }}/assets/images/nj-insurance-providers.jpg" alt="Insurance Providers for NJ and NY">
    </section>
    <article>
        <header class="p-t text-center primary">
            <h2 class="border--primary p-t">Insurance Providers We Work With</h2>
            <h3>Get Lower Rates</h3>
            <p class="p-b">Please check with our staff to make sure we can provide coverage in the states you need. Below is a comprehensive list of insurance providers which have affordable plans with Ogden & Co.</p>
        </header>
        <section class="alternative p-b grid grid--3 ul-none text-center">
            <div class="ul-none--child grid--child-1 grid--child-row-1">
                <h4>Health Insurance (all available carriers in New Jersey)</h4>
                <ul>
                    <li>Horizon Blue Cross Blue Shield</li>
                    <li>Oxford Health Plans (United Healthcare owns the name)</li>
                    <li>Oscar</li>
                    <li>Aetna</li>
                    <li>Amerihealth</li>
                    <li>QualCare (Affiliated Physicians & Employers Health Plan)</li>
                </ul>
                <a class="btn btn-shadow btn-quick-quote" target="_blank" href="https://www.healthsherpa.com/?_agent_id=stephen-degersdorff
">Get a Quick Quote Today!</a>
            </div>
            <div class="ul-none--child grid--child-2 grid--child-row-1">
                <h4>Medicare Supplement for NJ and NY</h4>
                <ul>

                    <li>United Healthcare</li>
                    <li>Mutual of Omaha</li>
                    <li>Aetna</li>
                    <li>Cigna
                    </li>
                    <li>Medicare Advantage</li>
                    <li>(United Healthcare)</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-3 grid--child-row-1">
                <h4>Life Insurance</h4>
                <ul>
                    <li>Banner</li>
                    <li>Mutual of Omaha</li>
                    <li>Pacific Life</li>
                    <li>North American</li>
                    <li>Prudential</li>
                    <li>Transamerica</li>
                    <li>Phoenix Life</li>
                    <li>SBLI</li>
                    <li>AIG</li>
                    <li>Protective</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-1 grid--child-row-2">
                <h4>Vision</h4>
                <ul>
                    <li>VSP</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-2 grid--child-row-2">
                <h4>Travel</h4>
                <ul>
                    <li>Seven Corners, Inc.</li>
                </ul>
                <a class="btn btn-shadow btn-quick-quote" target="_blank" href="https://www.sevencorners.com/?a=7085A466-4285-41B6-9497-151A5DE90042&z=HWT2TWQ">Get a Quick Quote Today!</a>
            </div>
            <div class="ul-none--child grid--child-3 grid--child-row-2">
                <h4>Accident Insurance</h4>
                <ul>
                    <li>Life Secure (Blue Cross Blue Shield of Michigan)</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-1 grid--child-row-3">
                <h4>FSA HRA Premium Only /Administration and Compliance</h4>
                <ul>
                    <li>T.A.S.C.</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-2 grid--child-row-3">
                <h4>Dental Insurance</h4>
                <ul>
                    <li>Ameritas
                    </li>
                    <li>PrincipalFinancial</li>
                    <li>Mutual of Omaha</li>
                    <li>Delta</li>
                </ul>
            </div>
            <div class="ul-none--child grid--child-3 grid--child-row-3">
                <div class="logo">
                    <a href="/" title="Insurance Company in NJ">
                        {% include 'partials/logo.twig' %}Ogden & Co.</a>
                    {% include 'partials/btnQuote.twig' %}
                </div>
            </div>
        </section>
        <footer class="primary">
            <p class="text-center lead">If the insurance provider that you're most familiar is not on our list, please call our office so that we may discuss comparable comparies with rates with which you're comfortable.</p>
        </footer>
    </article>
{% endblock %}