{% extends 'layout/main.twig' %}

{% block content %}
    <div class="insurance--individual">
        <section class="hero">
            <h1 class="hero--title-primary">Individual Services</h1>
            <img src="{{ base_url() }}/assets/images/individual-insurance-services-nj.jpg" alt="Individual Insurance Services">
        </section>
        <section class="primary">
            <article class="p-b grid grid--2">
                <div class="p-b grid--child-1">
                    <h2 class="border--primary border--heading">We Have You Covered</h2>
                    <br/>
                    <p>We can help you with your insurance needs. Whether it be medical, life, dental, or something else. Ogden Insurance & Co. has provided insurance to New Jersey residents for over 20 years.
                    </p>
                    <p>Our insurance professionals can provide competitve rates for the plan which suits your needs. Don't pay for more coverage than you need, contact us instead.
                    </p>
                </div>
                <div class="p-b grid--child-2">
                    <p>Insurance is a necessary part of life. Without medical insurance, for instance, you could be subject to expensive fines from the government every year. Instead of spending that money on a fine, you can rest easy by knowing you have health insurance.
                    </p>
                    <p>Additional coverage can be added to your plan which can provide comprehensive care when you need it. For instance, we offer discount dental plans which you can add on to your plan which can provide peace of mind and better overall health.
                    </p>
                </div>
            </article>
        </section>
        {% include 'partials/services.twig' %}
        <section class="secondary p-t insurance--quote">
            <div class="contain-50 p-t text-center">
                <h3 class="border--secondary p-t">Have Your Coverage When You Need it Most</h3>
            </div>
            <div class="grid grid--2 p-b">
                <img class="grid--child-1" src="{{ base_url() }}/assets/images/individual-insurance-quote-nj.jpg" alt="Get your Individiual Insurance Quote">
                {% include 'partials/forms/quote.twig' with {
                    csrf : token,
                    grid: 2
                }
                only %}
            </div>
        </section>
    </div>
{% endblock %}