{% extends 'layout/main.twig' %}

{% block content %}
    <div class="insurance--travel" role="main">
        <section class="hero">
            <h1 class="hero--title">Travel Insurance<span class="hero--title-sub">Simple & Flexible Coverage</span></h1>
            <img src="{{ base_url() }}/assets/images/travel-insurance-services-nj.jpg" alt="Group Insurance Services">
            {% include 'partials/btnQuote.twig' %}
        </section>
        <section class="alternative">
            <article class="p-b grid grid--2">
                <div class="p-b">
                    <h2 class="border--alternative border--heading">Less Headaches for International Travel</h2>
                    <br/>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dolores vitae quibusdam possimus sit maiores pariatur molestiae sed, in, facilis earum optio at repudiandae odio quos sint, tempora ipsum ullam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dolores vitae quibusdam possimus sit maiores pariatur molestiae sed, in, facilis earum optio at repudiandae odio quos sint, tempora ipsum ullam.
                    </p>
                </div>
                <div class="p-b">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dolores vitae quibusdam possimus sit maiores pariatur molestiae sed, in, facilis earum optio at repudiandae odio quos sint, tempora ipsum ullam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dolores vitae quibusdam possimus sit maiores pariatur molestiae sed, in, facilis earum optio at repudiandae odio quos sint, tempora ipsum ullam.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </article>
        </section>
        {% include 'partials/travel/benefits.twig' %}
        <section></section>
    </div>
{% endblock %}