{% extends 'layout/main.twig' %}

{% block content %}
    <div class="insurance--travel" role="main">
        <section class="hero">
            <h1 class="hero--title">Travel Insurance<span class="hero--title-sub">Simple & Flexible Coverage</span></h1>
            <img src="{{ base_url() }}/assets/images/travel-insurance-services-nj.jpg" alt="Group Insurance Services">
            {% include 'partials/btnQuote.twig' %}
        </section>
        <section class="alternative">
            <article class="p-b grid grid--2">
                <div class="p-b grid--child-1">
                    <h2 class="border--alternative border--heading">Less Headaches for International Travel</h2>
                    <br/>
                    <p>Travel insurance is a low cost way to make sure that your travel investment is protected. When problems arise on your trip, make sure that the recovery process goes as smoothly as possible by choosing Ogden Insuranc & Co.</p>
                    <p>Traveling internationally can be difficult. If at any point you need to cancel your trip, then travel insurance can help in getting you a refund. Travel insurance covers much more than that though, you can see a more expansive list below.
                    </p>
                </div>
                <div class="p-b grid--child-2">
                    <p>If you going over seas, we offer specialized programs for international travel which include health insurance and medical evacuation for vacations, student’s semester abroad and sporting events Trip protection coverage is available for those non-refundable trip costs, interruption or delay of trip and or baggage loss or delay.
                    </p>
                    <p>Get your no obligation quote today or contact us to find out what your best option are before you book your trip. You might be able to get a better coverage by contacting our office before you book. We can provide you the insight and knowledge that our experienced insurances professionals have learned over the past 30 years. We're located conveniently in Shrewsbury, New Jersey if you would like to call or come in to discuss your options.
                    </p>
                </div>
            </article>
        </section>
        {% include 'partials/travel/benefits.twig' %}
        {# <section>
            <h3 class="text-center">Who Can Benefit from Travel Insurance?</h3>
            <ul>
                <li>International finance.</li>
                <li>Studying Abroad.</li>
                <li>Traveling on a budget.</li>
                <li>Homes with one provider.</li>
            </ul>
        </section> #}
    </div>
{% endblock %}