/**
===============================================================
                         NAVIGATION
===============================================================
*/
/* offsetting bootstrap default */
.navbar {
  margin-bottom: 0;
}

/* offsetting creating inline image and text */
.nav-logo {
  margin-top: 10px;
  width: 20rem;
  display: flex;
  align-items: center;
}

.nav-logo img {
  max-width: 40px;
  vertical-align: text-bottom;
}

.nav-logo a {
  font-size: 2rem;
}

/* centering secondary nav for larger screens */
.navbar-secondary {
  display: flex;
  justify-content: space-between;
}
/* adding | after nav items, not last one */
.navbar-secondary li:not(:last-child) > a::after {
  content: "|";
  padding-left: 25px;
}
