<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ogden Insurance & Consulting | Shrewsbury, New Jersey</title>
        <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>